<!DOCTYPE html>
<html lang="id" data-theme="<%= typeof theme != 'undefined' ? theme : 'light' %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= typeof title != 'undefined' ? title : 'pushLimit' %></title>
    <link rel="stylesheet" href="./media/css/style.css">

    <style>
        main {
            height: max-content;
            min-height: 100vh;
        }
    </style>
</head>
<body>
    <%- include('../partials/nav') %>
    <main>
        <%- body %> 
    </main>

    <!-- Partials footer -->
    <%- include('../partials/footer') %>

</body>
</html>